[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
Django = ">=2.2"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
"politico-civic-utils" = "~=1.0a1.dev1"
"politico-civic-entity" = "~=1.0a1.dev1"
"politico-civic-geography" = "~=1.0a1.dev1"
"politico-civic-government" = "~=1.0a1.dev1"
"politico-civic-election" = "~=1.0a1.dev1"
vote = {path = "./..", editable = true}

[dev-packages]
ipython = "*"
pytest = "*"
"flake8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-django = "*"
